<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book's World - Explore Beyond Words with Our Banner</title>

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/css/banner.css" />
  </head>
  <body>

    <!-- Banner Section -->
    <div class="container-fluid mt-2">
      <div class="row">

        <!-- 2 Images in the left (Hidden When Device is Tablet and Mobile) -->
        <div class="col-lg-3 d-none d-lg-block mt-3">
          <div class="row m-1 banner-side-img">
            <img
              src="https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Ym9vayUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDI%3D&auto=format&fit=crop&w=600&q=60"
              alt="Bookshelf having lots of books"
            />
          </div>
          <div class="row m-1 mt-3 banner-side-img">
            <img
              src="https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGJvb2slMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHwy&auto=format&fit=crop&w=600&q=60"
              alt="Collection of books"
            />
          </div>
        </div>

        <!-- Main Banner Image Container -->
        <div class="col-lg-6 col-md-8 col-sm-12 mt-2">

          <!-- Main Banner Image -->
          <div class="banner-book">
            <img
              src="https://images.unsplash.com/photo-1527176930608-09cb256ab504?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzN8fGJvb2slMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60"
              alt="Book's World Banner Image White Colored"
              class="banner-img"
            />

            <!-- Text Overlay On Banner Image -->
            <div class="banner-text">
              <h2>Books</h2>
              <p class="ms-4">Beyond Words, Beyond Worlds</p>
            </div>
          </div>
        </div>

        <!-- 2 Images in the Right (Hidden when device is Mobile) -->
        <div class="col-lg-3 col-md-4 d-none d-md-block mt-3">
          <div class="row m-1 banner-side-img">
            <img
              src="https://images.unsplash.com/photo-1492052722242-2554d0e99e3a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjR8fGJvb2slMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHwy&auto=format&fit=crop&w=600&q=60"
              alt="Open book with a cup of tea"
            />
          </div>
          <div class="row m-1 mt-3 banner-side-img">
            <img
              src="https://images.unsplash.com/photo-1517673132405-a56a62b18caf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8ODB8fGJvb2slMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHwy&auto=format&fit=crop&w=600&q=60"
              alt="10 Books on a table with pen and paper"
            />
          </div>
        </div>
        
      </div>
    </div>
  </body>
</html>
