<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Books World Footer - Wonderland, Bookshelf, Non-fiction, Self-help, Novels</title>

  <!-- Custom Stylesheet -->
  <link rel="stylesheet" href="/css/footer.css" />

</head>

<body>
  <div class="custom-footer mt-5">
    <footer class="py-4">

      <!-- First Row -->
      <div class="row gx-0">

        <!-- First Column -->
        <div class="col-12 col-sm-6 col-md-3 mb-3 text-center custom-row">
          <h5>Book's World</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-1">
              <a href="/pages/index.html" class="nav-link p-0 text-body-secondary custom-footer-link">Our Bookshelf</a>
            </li>
            <li class="nav-item mb-1">
              <a href="/pages/cart.html" class="nav-link p-0 text-body-secondary custom-footer-link">Your Bookmarks</a>
            </li>
            <li class="nav-item mb-1">
              <a href="/pages/contact.html" class="nav-link p-0 text-body-secondary custom-footer-link">Sharing
                Reads</a>
            </li>
            <li class="nav-item mb-1">
              <a href="/pages/login.html" class="nav-link p-0 text-body-secondary custom-footer-link">Our Log-in</a>
            </li>
          </ul>
        </div>

        <!-- Second Column -->
        <div class="col-12 col-sm-6 col-md-3 mb-3 text-center custom-row">
          <h5>Self-help Books</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-1">
              <a href="/pages/self-help/self-help.html" class="nav-link p-0 text-body-secondary custom-footer-link">All
                Self-help</a>
            </li>
            <li class="nav-item mb-1">
              <a href="/pages/self-help/personal-growth.html"
                class="nav-link p-0 text-body-secondary custom-footer-link">Personal-growth</a>
            </li>
            <li class="nav-item mb-1">
              <a href="/pages/self-help/happiness.html"
                class="nav-link p-0 text-body-secondary custom-footer-link">Happiness</a>
            </li>
            <li class="nav-item mb-1">
              <a href="/pages/self-help/spiritual.html"
                class="nav-link p-0 text-body-secondary custom-footer-link">Spiritual</a>
            </li>
          </ul>
        </div>

        <!-- Third Column -->
        <div class="col-12 col-sm-6 col-md-3 mb-3 text-center custom-row">
          <h5>Non-fiction Books</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-1">
              <a href="/pages/non-fiction/non-fiction.html"
                class="nav-link p-0 text-body-secondary custom-footer-link">All Non-fiction</a>
            </li>
            <li class="nav-item mb-1">
              <a href="/pages/non-fiction/biography.html"
                class="nav-link p-0 text-body-secondary custom-footer-link">Biography</a>
            </li>
            <li class="nav-item mb-1">
              <a href="/pages/non-fiction/technical.html"
                class="nav-link p-0 text-body-secondary custom-footer-link">Technical</a>
            </li>
            <li class="nav-item mb-1">
              <a href="/pages/non-fiction/essay.html"
                class="nav-link p-0 text-body-secondary custom-footer-link">Essay</a>
            </li>
          </ul>
        </div>

        <!-- Forth Column -->
        <div class="col-12 col-sm-6 col-md-3 mb-3 text-center custom-row">
          <h5>Novels</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-1">
              <a href="/pages/novels/novels.html" class="nav-link p-0 text-body-secondary custom-footer-link">All
                Novels</a>
            </li>
        </div>

      </div>

      <!-- Second Row -->
      <div class="row gx-0">
        <div class="col-sm-6 col-10 my-3 custom-row mx-auto">
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of what's new and exciting from us.</p>
          <form>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <label for="newsletter" class="visually-hidden">Email address</label>
              <input id="newsletter" type="text" class="form-control" placeholder="Email address" />
              <button class="btn btn-custom" type="button">
                Subscribe
              </button>
            </div>
          </form>
        </div>
      </div>

      <!-- Third Row -->
      <div class="d-flex flex-column flex-sm-row pt-4 mt-4 border-top justify-content-center custom-row mx-4">
        <p>© Mansi, Inc. all rights reserved.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3">
            <a class="link-body-emphasis" href="https://twitter.com/i/flow/login" target="_blank"><i
                class="fa-brands fa-x-twitter fa-lg" style="color: #f5f5f5"></i></a>
          </li>
          <li class="ms-3">
            <a class="link-body-emphasis" href="https://www.instagram.com/" target="_blank"><i
                class="fa-brands fa-instagram fa-lg" style="color: #f5f5f5"></i></a>
          </li>
          <li class="ms-3">
            <a class="link-body-emphasis"
              href="https://www.amazon.in/ap/register?showRememberMe=true&openid.pape.max_auth_age=0&openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&pageId=inflex&mobileBrowserWeblabTreatment=C&openid.return_to=https%3A%2F%2Fwww.amazon.in%2F%3Fref_%3Dnav_custrec_signin&prevRID=93JWPYGH012DPDYW1K2Z&openid.assoc_handle=inflex&openid.mode=checkid_setup&desktopBrowserWeblabTreatment=C&prepopulatedLoginId=&failedSignInCount=0&openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0"
              target="_blank"><i class="fa-brands fa-amazon fa-lg" style="color: #f5f5f5"></i></a>
          </li>
        </ul>
      </div>
    </footer>
  </div>
</body>

</html>