<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Book World - Explore Beyond Words with Our Book Slides</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />

    <!-- Swiper's Link CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/css/slides.css" />
  </head>

  <body>
    <!-- Heading For Bookshelf -->
    <div class="container my-5 pt-1">
      <h2 class="slider-head border-bottom pb-2 px-3">
        <i class="fa-solid fa-book me-3" style="color: #085fb1"></i>Our
        Bookshelf
      </h2>
    </div>

    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper mx-1">
        <!-- Slide 1 (Book-1) -->
        <div class="swiper-slide">
          <div class="card">
            <!-- Book Image -->
            <img
              src="https://m.media-amazon.com/images/I/71l7mS-TnkL._SY522_.jpg"
              class="card-img-top mx-auto"
              alt="Steve Jobs"
            />

            <!-- Content Section -->
            <div class="card-body">
              <h5 class="card-title">A Beautiful Mind</h5>
              <h5 class="card-title">15$</h5>
              <p class="card-text">by Sylvia Nasar</p>

              <!-- Button -->
              <a href="#" class="btn btn-primary btn-lg"
                ><i class="fa-solid fa-bookmark me-2" style="color: #085fb1"></i
                >Bookmark</a
              >
            </div>
          </div>
        </div>

        <!-- Slide 2 (Book-2) -->
        <div class="swiper-slide">
          <div class="card">
            <img
              src="https://ik.imagekit.io/panmac/tr:f-auto,di-placeholder_portrait_aMjPtD9YZ.jpg,w-200/edition/9781529059861.jpg"
              class="card-img-top mx-auto"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Mozart in Italy</h5>
              <h5 class="card-title">15$</h5>
              <p class="card-text">by Jane Glover</p>
              <a href="#" class="btn btn-primary btn-lg"
                ><i class="fa-solid fa-bookmark me-2" style="color: #085fb1"></i
                >Bookmark</a
              >
            </div>
          </div>
        </div>

        <!-- Slide 3 (Book-3) -->
        <div class="swiper-slide">
          <div class="card">
            <img
              src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSom7qFxq5BuGjKr8OWe_nCkLkvFq9s1Vxswdt7T9yKKBzMmLZX"
              class="card-img-top mx-auto"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Thinking Fast-Slow</h5>
              <h5 class="card-title">15$</h5>
              <p class="card-text">by Denial Kahneman</p>
              <a href="#" class="btn btn-primary btn-lg"
                ><i class="fa-solid fa-bookmark me-2" style="color: #085fb1"></i
                >Bookmark</a
              >
            </div>
          </div>
        </div>

        <!-- Slide 4 (Book-4) -->
        <div class="swiper-slide">
          <div class="card">
            <img
              src="https://s26162.pcdn.co/wp-content/uploads/2016/02/9780544526709.jpg"
              class="card-img-top mx-auto"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Mr. Splitfoot</h5>
              <h5 class="card-title">15$</h5>
              <p class="card-text">by Samantha Hunt</p>
              <a href="#" class="btn btn-primary btn-lg"
                ><i class="fa-solid fa-bookmark me-2" style="color: #085fb1"></i
                >Bookmark</a
              >
            </div>
          </div>
        </div>

        <!-- Slide 5 (Book-5) -->
        <div class="swiper-slide">
          <div class="card">
            <img
              src="https://m.media-amazon.com/images/I/51MQqw2ffHL.jpg"
              class="card-img-top mx-auto"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Napoleon</h5>
              <h5 class="card-title">15$</h5>
              <p class="card-text">by Andrew Roberts</p>
              <a href="#" class="btn btn-primary btn-lg"
                ><i class="fa-solid fa-bookmark me-2" style="color: #085fb1"></i
                >Bookmark</a
              >
            </div>
          </div>
        </div>

        <!-- Slide 6 (Book-6) -->
        <div class="swiper-slide">
          <div class="card">
            <img
              src="https://ik.imagekit.io/panmac/tr:f-auto,di-placeholder_portrait_aMjPtD9YZ.jpg,w-200/edition/9781035036387.jpg"
              class="card-img-top mx-auto"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Stay True</h5>
              <h5 class="card-title">15$</h5>
              <p class="card-text">by Hua Hsu</p>
              <a href="#" class="btn btn-primary btn-lg"
                ><i class="fa-solid fa-bookmark me-2" style="color: #085fb1"></i
                >Bookmark</a
              >
            </div>
          </div>
        </div>

        <!-- Slide 7 (Book-7) -->
        <div class="swiper-slide">
          <div class="card">
            <img
              src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSlrQfRuyGKdvR9r_1QROkXsmnX0sV_-XeEgKk0w80lEGql4GGg"
              class="card-img-top mx-auto"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Rich Dad Poor Dad</h5>
              <h5 class="card-title">15$</h5>
              <p class="card-text">by Robert T. Kiyosaki</p>
              <a href="#" class="btn btn-primary btn-lg"
                ><i class="fa-solid fa-bookmark me-2" style="color: #085fb1"></i
                >Bookmark</a
              >
            </div>
          </div>
        </div>

        <!-- Slide 8 (Book-8) -->
        <div class="swiper-slide">
          <div class="card">
            <img
              src="https://s26162.pcdn.co/wp-content/uploads/2019/09/817FNKcZ1pL-663x1024.jpg"
              class="card-img-top mx-auto"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">The Tiger's Wife</h5>
              <h5 class="card-title">15$</h5>
              <p class="card-text">by Téa Obreht</p>
              <a href="#" class="btn btn-primary btn-lg"
                ><i class="fa-solid fa-bookmark me-2" style="color: #085fb1"></i
                >Bookmark</a
              >
            </div>
          </div>
        </div>

        <!-- Slide 9 (Book-9) -->
        <div class="swiper-slide">
          <div class="card">
            <img
              src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQURpp5v7GLB_1VXd-I7x8IphoB79RHBKuFwpUGtMTkaW7BJYxw"
              class="card-img-top mx-auto"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">The Alchemist</h5>
              <h5 class="card-title">15$</h5>
              <p class="card-text">by Paulo Coelho</p>
              <a href="#" class="btn btn-primary btn-lg"
                ><i class="fa-solid fa-bookmark me-2" style="color: #085fb1"></i
                >Bookmark</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <!-- Initializing Swiper -->
    <script src="/js/swiper.js"></script>
  </body>
</html>
